# If you're not using docker
KIND_EXPERIMENTAL_PROVIDER=podman
# Path to your local Platform Mesh setup (used by hack/kubeconfig-copy.sh)
PORTAL_DIRECTORY=/path/to/your/local-setup

# This needs to be an admin kcp kubeconfig (not the kind cluster resource)
KCP_KUBECONFIG=
OPENSEARCH_INSECURE=true
OPENSEARCH_PASSWORD=admin
OPENSEARCH_USERNAME=admin
OPENSEARCH_URL=https://opensearch.portal.localhost:8443
SEARCHABLE_RESOURCE_RESOURCES={core.platform-mesh.io,v1alpha1,Account},{core.platform-mesh.io,v1alpha1,AccountInfo}
